@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: #0f0f10;
    top: -100%;
    left: 0;
    width: 100%;
    padding: 4rem 0 3rem;
    transition: all 0.4s ease-in-out;
  }
}
body {
  margin: 3rem 0 0 0;
  font-family: "sora", sans-serif;
  font-size: 0.938rem;
  background-color: #0f0f10;
  color: #bdc0c2;
}

h1,
h2,
h3 {
  color: #f2f2f3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 4rem 0 2rem;
}
.section__title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.5rem;
}
.section__title-gradient {
  background: linear-gradient(#ffa770, #e53405);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.main {
  overflow: hidden;
}

.container-1 {
  max-width: 968px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: transparent;
}
.header .nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav__logo {
  display: flex;
  width: 2rem;
}
.header .nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
  color: #FFF;
}
.header .nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}
.header .nav__link {
  color: #FFF;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
  background: linear-gradient(#ffa770, #e53405);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all 0.4s ease-in-out;
}
.header .nav__link:hover {
  background: #FFF;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.header .nav__close {
  position: absolute;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  color: #FFF;
  cursor: pointer;
}

.show-menu {
  top: 0;
}

.scroll-header {
  background-color: #0f0f10;
}

.active-link {
  background: #FFF;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.home__img {
  width: 250px;
  position: absolute;
  top: -16rem;
  right: 1.5rem;
}
.home__data {
  padding-top: 5rem;
}
.home__header {
  position: relative;
}
.home__title {
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(#ffa770, #e53405);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  position: absolute;
  top: -4.5rem;
  left: 1rem;
  line-height: 6rem;
}
.home__subtitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.home__title-description {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.home__description {
  margin-bottom: 2.5rem;
  line-height: 2rem;
}
.home__price {
  font-size: 1.125rem;
  font-weight: 600;
  margin-left: 0.75rem;
}

.button {
  display: inline-block;
  background-color: #0a0a0b;
  color: #FFF;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  transition: all 0.4s ease-in-out;
}
.button:hover {
  background-color: #141515;
}
.button__icon {
  font-size: 1.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem;
}

.sponsor__img {
  width: 90px;
  margin: auto;
}
.sponsor__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  row-gap: 5rem;
  justify-content: center;
  align-items: center;
}

.gallery__container {
  width: 85%;
  margin: auto;
}
.gallery__description {
  text-align: center;
}

.specs__container {
  position: relative;
}
.specs__content {
  row-gap: 1.5rem;
}
.specs__data {
  display: grid;
  row-gap: 0.25rem;
}
.specs__icon {
  font-size: 1.2rem;
  color: #FFF;
}
.specs__title {
  font-size: 0.938rem;
  font-weight: 500;
  margin: 0;
}
.specs__subtitle {
  font-size: 0.813rem;
}
.specs__data:nth-child(1), .specs__data:nth-child(4) {
  margin-left: 1.5rem;
}
.specs__img {
  width: 250px;
  position: absolute;
  top: 2rem;
  right: -4rem;
}

.features__img {
  width: 70px;
  margin: 1.2rem auto;
  margin-top: 2.5rem;
}
.features__card {
  background-color: #181a1b;
}
.features__title {
  text-align: center;
  color: #f2f2f3;
  font-size: 500;
  font-weight: 700;
}
.features__description {
  text-align: center;
  color: #bdc0c2;
  font-size: 0.8rem;
}

.personalize__container {
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}
.personalize__data {
  padding: 5rem 0 3rem;
}
.personalize__img {
  width: 250px;
}
.personalize__description {
  margin-bottom: 1.5rem;
  line-height: 2rem;
}

.discount__container {
  position: relative;
  background-color: #181a1b;
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
}
.discount__title {
  font-size: 1.125rem;
  margin-bottom: 0.75rem;
}
.discount__description {
  margin-bottom: 1rem;
}
.discount__img {
  width: 300px;
  position: absolute;
  top: 4rem;
  right: -8rem;
}

.products__line {
  line-height: 4rem;
}
.products__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 1.5rem;
  padding: 3rem;
}
.products__card {
  position: relative;
  height: 132px;
  background-color: #181a1b;
  padding: 0.75rem;
  border-radius: 0.5rem;
  display: grid;
}
.products__img {
  width: 100px;
  position: absolute;
  inset: 0;
  margin-left: auto;
  margin-right: auto;
  top: -3rem;
}
.products__content {
  align-self: flex-end;
}
.products__title, .products__price {
  font-size: 0.813rem;
}
.products__price {
  font-weight: 600;
}
.products__button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.35rem;
}

.footer__container {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}
.footer__logo {
  width: 2rem;
}
.footer__title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.footer__links {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  padding: 0;
}
.footer__link {
  color: #bdc0c2;
}
.footer__link:hover {
  color: #FFF;
}
.footer__form {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: #181a1b;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}
.footer__input {
  background-color: #181a1b;
  width: 90%;
  color: #FFF;
}
.footer__input::-moz-placeholder {
  color: #bdc0c2;
  font-size: 0.938rem;
  font-family: "sora", sans-serif;
}
.footer__input::placeholder {
  color: #bdc0c2;
  font-size: 0.938rem;
  font-family: "sora", sans-serif;
}
.footer__social {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
.footer__social-link {
  display: inline-flex;
  color: #FFF;
  background-color: #181a1b;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
}
.footer__social-link:hover {
  background-color: #0a0a0b;
}
.footer__copy {
  margin-top: 5rem;
  text-align: center;
}
.footer__copy-link {
  font-size: 0.75rem;
  color: #a2a6a9;
}

.scroll__up {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  background-color: #181a1b;
  border-radius: 0.25rem;
  padding: 0.45rem;
  opacity: 9;
  z-index: 100;
  transition: all 0.4s ease-in-out;
}
.scroll__icon {
  color: #FFF;
  font-size: 1.35rem;
}
.scroll__icon:hover {
  background-color: #0a0a0b;
  opacity: 1;
}

.show-scroll {
  bottom: 5rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #27292a;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #313335;
}/*# sourceMappingURL=index.css.map */